/* display background color black on navbar scroll */

.navbarScroll.navbarDark {
    background-color: black;
}


/* hero background image */

.bgimage {
    height: 100vh;
    background: url('images/pic.jpg');
    background-size: cover;
    position: relative;
}


/* text css above hero image*/

.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/* spacing on all sections */

#about,
#services,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

#contact {
    padding-bottom: 4rem;
}


/* about section image css */

.imageAboutPage {
    width: 100%;
}


/* social media icons styling */

.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
    color: #008000;
}

.fab {
    color: #000000;
}


/* contact part */

#con {
    border-radius: 2rem;
	background-attachment: fixed;
    padding: 1.5rem 4rem;
    box-shadow: inset -2px -2px 15px -6px var(--color2), 2px 2px 15px -4px var(--color5);
}

 :root {
    --color-g: rgb(157, 162, 157);
    --color1: #3F51B5;
    --color2: rgb(2, 255, 221);
    --color3: rgb(224, 56, 43);
    --color4: rgb(230, 51, 38);
    --color5: rgb(2, 138, 255);
    --font1: 'Oswald', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Lobster', cursive;
}

.my-3 {
    padding-left: 20px;
}


/* footer styling */

#footer {
    background-color: #808080;
    text-align: center;
}
